a {
   &:hover {
      .product {
         box-shadow: 0px 5px 21px -4px rgba(0, 0, 0, 0.28);
         -webkit-box-shadow: 0px 5px 21px -4px rgba(0, 0, 0, 0.28);
         -moz-box-shadow: 0px 5px 21px -4px rgba(0, 0, 0, 0.28);

         img {
            scale: 1.1;
         }
      }
   }
   .product {
      transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
      height: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      position: relative;

      padding: 10px 5px;

      border: 1px solid #808080;
      border-radius: 30px;

      img {
         transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
         margin-block: auto;
         width: 60%;
         aspect-ratio: 3/2;
         object-fit: contain;
         margin: auto;
      }
   }
}
